<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="FRCTeam16TargetTracking.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <FRCTeam16TargetTracking.Properties.Settings>
            <setting name="BlueMin" serializeAs="String">
                <value />
            </setting>
            <setting name="BlueMax" serializeAs="String">
                <value />
            </setting>
            <setting name="GreenMin" serializeAs="String">
                <value />
            </setting>
            <setting name="GreenMax" serializeAs="String">
                <value />
            </setting>
            <setting name="RedMin" serializeAs="String">
                <value />
            </setting>
            <setting name="RedMax" serializeAs="String">
                <value />
            </setting>
            <setting name="Threshold" serializeAs="String">
                <value />
            </setting>
            <setting name="ThresholdLinking" serializeAs="String">
                <value />
            </setting>
            <setting name="MinArea" serializeAs="String">
                <value />
            </setting>
            <setting name="ApproxPoly" serializeAs="String">
                <value />
            </setting>
        </FRCTeam16TargetTracking.Properties.Settings>
    </userSettings>
</configuration>
